<header>
	<img src="/evie.png" class="logo">
	<a href="/logout" class ="btn btn-header btn-color">Log Out</a>
	<a href="/groups/{{gid}}" class="btn btn-header btn-color">Back to Group</a>
</header>
<div class="wrapper">
	<div>
		<img src="{{imageUri}}" style="height:100%;width: 100%;">
	</div>
	<div>
		<div class="border">
		    <h1>{{title}}</h1>
		</div>
		<div class="border">
			<h2>{{description}}</h2>
		</div>
		<div class="border">
			<h2>{{location}}</h2>
		</div>
		<div class="border">
			<h2>{{date}}</h2>
		</div>
		<div class="border">
			<h2>{{startTime}}</h2>
		</div>
		<div class="border">
			<h2>{{price}}</h2>
		</div>
	</div>
	<form method="POST" style="display: inline-block;">
		<button type='submit' id="no" name="choice" class='btn btn-color' value="No">No</button>
		<button type="submit" id="yes" name="choice" class='btn btn-color' value="Yes">Yes!</button>
	</form>
</div>