<header>
	<img src="/evie.png" class="logo">
	<a href="/logout" class ="btn btn-header btn-color">Log Out</a>
	<a href="/groups" class="btn btn-header btn-color">Back to all groups</a>
</header>
<div class="wrapper">
	<div class='title'>{{name}}</div>
	<div>{{description}}</div>
	<div>Live Votes</div>
	<div>
		{{#each lists}}
		<div class="container">
			<a href='/eventLoad/{{_id}}'>
				<div>  
					<h2>{{name}}</h2>
				</div>
				<div>
					<h2>{{description}}</h2>
				</div>
			</a>
		</div>
		{{/each}}
	</div>
	<button id="newVoteButton" class="btn btn-color" data-toggle="collapse" data-target="#newVote">New Vote</button>
	<form method="POST" id="newVoteForm" style="display:none;">
		<div class="form-group">
			<input class="form-control" name="name" placeholder="Event Name">
		</div>
		<div class="form-group">
			<textarea class="form-control" name="description" placeholder="Description"></textarea>
		</div>
		<div class="form-group">
			<input class="form-control" name="searchLocation" placeholder="Search Location">
		</div>
		<div class="form-group">
			<label for="from" class="col-sm-3 control-label">From Date: </label>
			<div class="col-sm-9">
				<input type="date" class="form-control" id="from" name="fromDate">
			</div>
		</div>
		<div class="form-group">
			<label for="to" class="col-sm-3 control-label">To Date: </label>
			<div class="col-sm-9">
				<input type="date" class="form-control" id="to" name="toDate">
			</div>
		</div>
		<div class="form-group">
			<label for="limit" class="col-sm-3 control-label">Open Until: </label>
			<div class="col-sm-9">
				<input type="datetime-local" class="form-control" id="limit" name="timeLimit">
			</div>
		</div>
		<div class="checkbox form-group">
			<div class="col-sm-3">
				<input type="checkbox" name="select" id="music" value="music">
			</div>
			<label for="music" class="col-sm-3 control-label"> Music </label>
		</div>
		<div class="checkbox form-group">
			<div class="col-sm-3">
				<input type="checkbox" name="select" id="food" value="food">
			</div>
			<label for="food" class="col-sm-3 control-label"> Food </label>
		</div>
		<div class="checkbox form-group">
			<div class="col-sm-3">
				<input type="checkbox" name="select" id="outdoors" value="outdoors">
			</div>
			<label for="outdoors" class="col-sm-3 control-label"> Outdoors </label>
		</div>
		<div class="checkbox form-group">
			<div class="col-sm-3">
				<input type="checkbox" name="select" id="sports" value="sports">
			</div>
			<label for="sports" class="col-sm-3 control-label"> Sports </label>
		</div>
		<div class="checkbox form-group">
			<div class="col-sm-3">
				<input type="checkbox" name="select" id="historic" value="historic">
			</div>
			<label for="historic" class="col-sm-3 control-label"> Historic </label>
		</div>
		<div class="checkbox form-group">
			<div class="col-sm-3">
				<input type="checkbox" name="select" id="nightlife" value="nightlife">
			</div>
			<label for="nightlife" class="col-sm-3 control-label"> Nightlife </label>
		</div>
		<div class="checkbox form-group">
			<div class="col-sm-3">
				<input type="checkbox" name="select" id="art" value="art">
			</div>
			<label for="art" class="col-sm-3 control-label"> Art </label>
		</div>
		<div class="checkbox form-group">
			<div class="col-sm-3">
				<input type="checkbox" name="select" id="festival" value="festival">
			</div>
			<label for="festival" class="col-sm-3 control-label"> Festivals </label>
		</div>
		<button id ="createVoteButton" type="submit" class="btn btn-color">Start</button>
	</form>
	<div>
		<button id="membersButton" class="btn btn-color" data-toggle="collapse" data-target="#members">Members</button>
		<div id="members" style="display:none;">
			{{#each users}}
				<div>
					<h2>{{username}}</h2>
				</div>
			{{/each}}
		</div>
	</div>
	<div>
		<button id="addMemberButton" class="btn btn-color" data-toggle="collapse" data-target="#addMember">Add Member</button>
		<form method="POST" id="addMember" style="display:none;">
			<div>
				<input name="username" class="form-control" placeholder="Username to add">
				<button type="submit" class="btn btn-color">Add</button>
			</div>
		</form>
	</div>
	<div>Events Requiring Action</div>
	<div>
		{{#each closed}}
		<div>
			<a href='/results/{{_id}}'>
				<div>{{name}}</div>
				<div>{{description}}</div>
			</a>
		</div>
		{{/each}}
	</div>
</div>
<script>
	$("#membersButton").click(function() {
		$("#members").toggle()
	});
	$("#addMemberButton").click(function() {
		$("#addMember").toggle()
	});
	$('#newVoteButton').click(function() {
		$('#newVoteForm').toggle()
	});
</script>